{% extends 'base.html' %}

{% block head_title %}Добро Пожаловать на GoTravel!{% endblock head_title%}

{% block content %}
<div class="cover-container d-flex w80 h-80 p-3 mx-5 flex-column mt-5">
    <main role="main" class="inner cover text-center">
        <p class="lead">
            Здесь люди делятся классными местами со всей планеты.
            Понравился ресторан, кафе или любое другое интересное место, расскажи о нем со всеми полезными подробностями,
            прикрепляя фото. Вы можете вести собственный "дневник" таких мест, в которых были или хотели бы побывать.
            И в любой момент можете поделиться ими с остальными, дело за вами.
        </p>
    </main>
</div>
{% endblock content%}
